=provide(:title, 'Recommended Links')

%br
%br
%center
	%h3 Recommended links
  
	/ %br
	/ %section
	/ %br
	/ %h5 Recommended Articles
	/ %div
	%ul
		%br
		%li= link_to "Why FPGA's will take over ASIC's", "http://www.embeddedrelated.com/showarticle/195.php"
		%li= link_to "Reddit ECE", "http://www.reddit.com/r/ece"
		%li= link_to "Jeremy Blum beginner Arduino Tutorials", "http://www.jeremyblum.com/category/arduino-tutorials/"
		%li= link_to "Hackaday (Maker Projects)", "http://hackaday.com/"
		%li= link_to "EEVblog (product breakdowns)", "http://www.eevblog.com/"
		%li= link_to 'Sparkfun (project parts\ideas)', "https://www.sparkfun.com/"
		%br
		%h4 Nintendo 64 Breakdown
		%br
		%iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/ScicrgZwvg4", :title => "YouTube video player", :width => "640"}
